{% extends 'core/base.html' %}

{% block content %}

<div class = 'container'>
    <h3>
        Sorting Game {{modelGame.date}}
    </h3>
    <div>
        <table class = 'table table-striped'>
            <thead class = 'thead-dark'>
                <tr>
                    <th scope = 'col'>
                        #
                    </th>
                    <th scope="col">
                        Word
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for strWord in qsWords %}
                        <tr>
                            <th scope="row">
                                {{forloop.counter}}
                                </th>
                                <td>
                                    {{strWord}} 
                                </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>

{% endblock %}